/* CSS Inicial */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    font-family: "Merriweather Sans", sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: inherit; 
}

/* Manipulação container principal */

.container {
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}

/* Grid para a barra lateral, conteúdo principal (projetos e posts) e rodapé. */

.container .tree-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 20px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "sidebar content content content"
      "footer footer footer footer";
    margin: 30px;
}

.tree-container .sidebar-container {
    grid-area: sidebar;
    
}

.tree-container .content-container {
    grid-area: content;
}

/* Alinhamento rodapé */

.tree-container footer {
    grid-area: footer;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

/* Estilização aba de perfil. */

.profile-container .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.profile-container .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #00FF00;
    margin-bottom: 15px;
}

.profile h1 {
    margin-bottom: 15px;
}

/* Estilização e alinhamento padrão de todas as seções. */

/* .sidebar-container .profile-container, .sidebar-container .links-container, .sidebar-container .tech-container, .sidebar-container .experiences-container, .sidebar-container .education-container, .content-container .projects-title-container, .content-container .project-container, .content-container .posts-title-container, .content-container .posts-container  */

.sidebar-container > *, .content-container > *:not(:nth-child(2)), .projects-group-container > * {
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px;
    margin: 15px;
}

/* Flexbox barra lateral e conteúdo principal */

.tree-container .sidebar-container {
    display: flex;
    flex-direction: column;

}
.tree-container .content-container {
    display: flex;
    flex-direction: column;
}
.content-container .projects-group-container {
    display: flex;

}

.content-container .project-container:hover {
    transform: scale(1.02);
}


.projects-group-container .project-container h3, .projects-group-container .project-container p, .projects-group-container .project-container span {
       margin-bottom: 8px;
    
}

.project-container .project {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.1fr 1.1fr 0.8fr; 
    grid-template-rows: 0.5fr 1.9fr 0.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "title . ."
      "content content content"
      "interactions . category"; 
}

.project .project-title {
    grid-area: title;
}

.project p {
    grid-area: content;
}

.project .project-interactions {
    grid-area: interactions;
}

.project .project-category {
    grid-area: category;
}

/* .tree-container .sidebar-container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "profile"
      "profile"
      "links"
      "links"
      "tech"
      "experiences"
      "experiences"
      "education"
      "education"; 
}

.sidebar-container .profile-container {
    grid-area: profile;
}
.sidebar-container .links-container {
    grid-area: links;
}
.sidebar-container .tech-container {
    grid-area: tech;
}
.sidebar-container .experiences-container {
    grid-area: experiences;
}
.sidebar-container .education-container {
    grid-area: education;
} */

.post {
    display: grid; 
    grid-auto-flow: column dense; 
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.2fr 1.8fr; 
    grid-template-rows: 0.8fr 0.8fr 0.3fr 2.3fr 0.8fr; 
    gap: 10px 15px; 
    grid-template-areas: 
      "photo title"
      "photo date"
      "photo ."
      "photo content"
      "photo hashtag"; 
}

.post * {
    align-self: center;
}

.content-container .posts-container:hover {
    transform: scale(1.02);
}

.posts-container .post .post-photo {
    grid-area: photo;
}

.posts-container .post .post-title{
    grid-area: title;
} 
.posts-container .post .post-date {
    grid-area: date;
} 
.posts-container .post .post-hashtag{
    grid-area: hashtag;
} 
.posts-container .post .post-content {
    grid-area: content;
}

.posts-container .post .post-photo {
    width: 128px;
    border-radius: 50%;
}

.tree-container dt {
    font-weight: 700;
    font-size: 0.88rem;
}

.tree-container dd {
    font-weight: 400;
    font-size: 0.75rem;
}

.profile-container .profile span {
    font-size: 0.81rem;
}



.links-container .links li {
    font-size: 0.75rem;
    list-style: none;
    margin-bottom: 7px;

}

.links-container .links img {
    margin-right: 10px;

}

.links-container .links img {
    width: 24px;
    height: 24px;
}

.tree-container h1 {
    font-size: 1.44rem;
}

.tree-container h2 {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.tree-container h3 {
    font-size: 1.00rem;
}

/* Flexbox tags de tecnologias */

.tech-container .tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-container .tech .tech-tag {
    background-color: var(--bg-techs);
    color: #000;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 0.63rem;
    padding: 6px;
    margin: 7.5px;
    width: 4.38rem;
    text-align: center;
    align-self: center;
}